@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-swiper {
    position: relative;
  }
  
  .custom-navigation {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    gap: 10px;
    padding: 10px;
  }
  
  .custom-prev,
  .custom-next {
    background: #000; /* Customize the button color */
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .custom-prev:hover,
  .custom-next:hover {
    background: #fff; /* Customize the hover color */
    color: #000;
  }

  .wkit-button  {
    height: 44px;
  }